hardware/node-red/flows.json
[
    {
        "id": "7cfef1cd651a1d54",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad5930d04a24bc03",
        "type": "mqtt in",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "topic": "Temperatura_DS1820",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d97a801f9bf77b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "7522fc474610905d",
                "25a7736326e202d5",
                "c5763b7ce06c0f93"
            ]
        ]
    },
    {
        "id": "7522fc474610905d",
        "type": "debug",
        "z": "7cfef1cd651a1d54",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "25a7736326e202d5",
        "type": "ui_gauge",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "017f8c3648c66dce",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "26",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5763b7ce06c0f93",
        "type": "ui_chart",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "017f8c3648c66dce",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ºC/Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "28458301d95f4857",
        "type": "mqtt in",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "topic": "Temperatura_BMP280",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d97a801f9bf77b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "9b8cd5815b6169ca",
                "6c16fb6543064aeb"
            ]
        ]
    },
    {
        "id": "9b8cd5815b6169ca",
        "type": "debug",
        "z": "7cfef1cd651a1d54",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "6c16fb6543064aeb",
        "type": "ui_gauge",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "ff0a2cbc3cede99e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cd147aa766348d0",
        "type": "mqtt in",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "topic": "Pressao_BMP280",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d97a801f9bf77b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "f28690792c20554d",
                "b5def8eb36579a39"
            ]
        ]
    },
    {
        "id": "f28690792c20554d",
        "type": "debug",
        "z": "7cfef1cd651a1d54",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5def8eb36579a39",
        "type": "ui_gauge",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "ff0a2cbc3cede99e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressão",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "7012cacadcbaa4db",
        "type": "debug",
        "z": "7cfef1cd651a1d54",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "d0689575602530c9",
        "type": "mqtt in",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "topic": "Nivel_gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d97a801f9bf77b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "7012cacadcbaa4db",
                "1d1e269ba0bd2c60"
            ]
        ]
    },
    {
        "id": "1d1e269ba0bd2c60",
        "type": "ui_gauge",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "315aa9f7e16d2855",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "151690fbd7926379",
        "type": "mqtt in",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "topic": "SimPress",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d97a801f9bf77b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "de2a346e6a3eabbb",
                "f7862b930431d170"
            ]
        ]
    },
    {
        "id": "de2a346e6a3eabbb",
        "type": "debug",
        "z": "7cfef1cd651a1d54",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "f7862b930431d170",
        "type": "ui_gauge",
        "z": "7cfef1cd651a1d54",
        "name": "",
        "group": "f98bb3335baeb65c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SimPress",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "a1d97a801f9bf77b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "017f8c3648c66dce",
        "type": "ui_group",
        "name": "DS18B20",
        "tab": "524e8c6285889045",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff0a2cbc3cede99e",
        "type": "ui_group",
        "name": "BMP280",
        "tab": "524e8c6285889045",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "315aa9f7e16d2855",
        "type": "ui_group",
        "name": "Nivel Gas",
        "tab": "524e8c6285889045",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f98bb3335baeb65c",
        "type": "ui_group",
        "name": "SimPress",
        "tab": "524e8c6285889045",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "524e8c6285889045",
        "type": "ui_tab",
        "name": "Monitoramento Biodigestor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]